<div>
  <h1 class="font-bold text-4xl">
    ✅ Hi <%= @current_user.name %>, <br /> welcome to My Tasks
  </h1>

  <section class="text-lg mt-8 max-w-2xl">
    <p>Introducing My Task, the ultimate solution to simplify your life. Designed with a minimalist approach, our app keeps task management easy and intuitive, letting you seize the day, your way! </p>

    <p class="mt-4">Whether you're an organizing pro or a beginner looking to take control of your to-do list, our intuitive web-based platform will guide you seamlessly through every task. Prioritize your day, keep track of your progress, and get more done with a few simple clicks.</p>

    <p class="mt-4">Get started with My Task today, and discover a new level of productivity!</p>
  </section>
</div>
